@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #1e1e1e;
  --white: #dbdad9;
  --purple: #761bef;
  --green: #bbf67e;
}

body {
  color: rgb(var(--black));
  background-color: var(--purple);
}

